/* シェアボタン */
.sns-share-title {
    /* display: inline-block; */
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: large;
}

.sns-share {
    display: flex;
    gap: 50px; /* ボタン間の余白 */
    justify-content: center;
    margin: 20px auto 50px auto;
}

.sns-btn {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.sns-btn:hover {
    transform: scale(1.1, 1.1);
}
.sns-btn img {
    /* アイコンサイズ */
    width: 50px;
    height: 50px;
}

.twitter {
    border-radius: 25%;
    border: #e9e9e9 solid 2px;
}

#x_img {
    width: 30px;
    height: 30px;
}
